<ion-header>
  <ion-toolbar class="header">
    <ion-title>Sobre o App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about-content">
  <div class="intro">
    <h1>Sobre o Aplicativo</h1>
    <p>
      A Pokédex foi criada para todos os amantes de Pokémons! O objetivo principal
      é proporcionar uma experiência interativa e divertida ao explorar o universo Pokémon.
    </p>
    <p>
      Nossa equipe sempre foi apaixonada por Pokémons, e decidimos que era hora de criar uma
      ferramenta que não só mostrasse informações sobre cada Pokémon, mas que também permitisse
      que os usuários se conectassem mais com seus favoritos.
    </p>
    <p>
      Neste aplicativo, você pode:
    </p>
    <ul>
      <li>Visualizar detalhes de vários Pokémons.</li>
      <li>Aprender sobre suas habilidades e características.</li>
      <li>Navegar de forma fácil e intuitiva.</li>
    </ul>
    <p>
      Acreditamos que a Pokédex é mais do que apenas um repositório de informações; é uma
      celebração da cultura Pokémon e de todas as memórias que ela trouxe para nossas vidas.
      Esperamos que você goste do aplicativo tanto quanto nós gostamos de criá-lo!
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>