<ion-header>
  <ion-toolbar class="header">
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="intro">
    <h1>Bem-vindo à Pokédex!</h1>
    <p>Explore o mundo dos Pokémons de forma divertida e interativa!</p>
    <p>
      Neste aplicativo, você pode ver uma lista de Pokémons, suas imagens, IDs e descrições.
      Desfrute de uma experiência única ao conhecer todos os detalhes dos seus Pokémons favoritos.
    </p>
    <p>
      Use os botões abaixo para navegar e descobrir novos Pokémons a cada clique!
    </p>
  </div>

  <img src="assets/images/Pokédex_logo.png" alt="Pokédex" class="pokedex-image"/>

  <div class="button-container">
    <ion-button expand="full" routerLink="/pagina1" class="custom-button">Ver Pokémons</ion-button>
    <ion-button expand="full" routerLink="/pagina2" class="custom-button">Sobre</ion-button>
  </div>

  
</ion-content>
